<h1>Détail of my list <%= @list.name %></h1>

<%=link_to "back to my lists", lists_path %>
<%= link_to "destroy my list", list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Vous êtes sur ?"} %>
<%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>

<p><strong>Bookmark</strong></p>
<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item"><%= bookmark.comment %></li>
  <% end %>
</ul>
<br>